<h2 class="text-center my-3">Delicious Burgers</h2>
<main>
    <div class="container my-5">
        <div class="row my-5"></div>
        <div class="row my-5">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <h2>Available Burgers</h2>
                {{#each burgers}}
                {{#unless this.devoured}}
                <div>
                    <i class="fas fa-hamburger"></i>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="update-burger" data-devoured="false">Eat the burger</button>

                </div>
                {{/unless}}
                {{/each}}
            </div>

<div class="col-md-5"></div>

            <div class="col-md-2">
                <h2>Devoured Burgers</h2>
                {{#each burgers}}
                {{#if this.devoured}}
                <div>
                    {{this.burger_name}}
                    <button data-id="{{this.id}}" class="delete-burger"><i class="fas fa-trash"></i></button>
                    
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</main>
<div class="row my-5"></div>
<div class="row my-5"></div>
<div class="row mt-4"></div>
<h2 class="text-center text-danger">Order a burger</h2>
<form class="text-center" action="/burgers" method="POST">
    <input type="text" id="name" name="burger_name">
    <button type="submit" class="addBurger">Add Burger</button>
</form>

<script>
    // do logic here
    // set up onClick event for .update-burger
    $(document).on("click", ".update-burger", function (event) {

        const burgerId = $(this).attr("data-id");
        const burgerDevour = $(this).attr("data-devoured");
        $(this).data("devoured", true);
        const burgerEaten = { devoured: true };


        $.ajax({
            url: "/burgers/" + burgerId,
            method: "PUT",
            data: burgerEaten
        }).then(function () {
            console.log("burger devoured");
            location.reload();
        })
    });

    $(document).on("click", ".delete-burger", function (event) {
        const burgerId = $(this).attr("data-id");
        $.ajax({
            url: "/burgers/" + burgerId,
            method: "DELETE"  
        }).then(function () {
            console.log("burger removed");
            location.reload();
        })
    })
   // const burgerId = $(this).attr("data-id");
   // const burgerDevour = $(this).attr("devoured");


        // retrieve id of burger using .attr()
        // retrieve value of devoured using .attr()


        // run ajax PUT request to /api/burgers/burgerID
        // in .then() of put request, use location.reload() to refresh the page

</script>